# typical objects to ignore
# ( alphabetically ordered )
*.egg-info
*.ipynb
*.pyc
*.vscode
*.xml
.coverage*
.DS_Store
.hypothesis
.idea
.ipynb_checkpoints
dist
env
pip-wheel-metadata
py2-env

#folders I don't want to track
devel

